<div class="container-aside">
  <aside>

    <!-- Campo de busca - Desabilitado
    <app-campo-busca-menu></app-campo-busca-menu>-->

    <!-- Main Menu -->
    <nav id="component-menu" class="main-menu">
      <ul>
        <li>
          <fa class="icon-menu" name="user-o"></fa> Cliente
        </li>
        <li>
          <fa class="icon-menu" name="credit-card"></fa> Cartões
        </li>
        <li>
          <fa class="icon-menu" name="envelope-open-o"></fa> Faturas
        </li>
        <li>
          <fa class="icon-menu" name="cog"></fa> Configurações
        </li>
      </ul>
    </nav>

</aside>

  <!-- Main footer -->
  <app-footer-menu></app-footer-menu>
</div>
